/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

body {
  background-color: brown;
  min-height: 100dvh;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 412px;
  min-height: 780px;
  background-color: bisque;
  padding: 1rem;
}

.logo {
  width: 55px;
  /* margin-inline: 11rem; */
  padding: 0.5rem;
  align-self: center;
}

.titulo {
  text-align: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 1rem;
}

.text-button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

.textarea {
  background-color: gray;
  padding: 1rem;
  color: aliceblue;
  width: 100%;
}

.de-a {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  text-align: center;
  gap: 0.5rem;
}

#de {
  display: inline-block;
  background-color: gray;
  height: 40px;
  width: 100%;
}

#a {
  display: inline-block;
  background-color: gray;
  height: 40px;
  width: 100%;
}

button {
  text-align: center;
  padding: 1.5rem;
  border-radius: 7px;
  background-color: #222;
  font-weight: 700;
  cursor: pointer;
  color: aliceblue;
}

.endosos {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem;
}

.endoso {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

p {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: gray;
  width: 100%;
  color: aliceblue;
  font-size: 1.1rem;
}

me-gusta {
  display: flex;

  align-items: center;
  background-color: transparent;
  border: none;
  color: gray;
 
}

.me-gusta-activo {
  display: flex;
  /* align-items: center; */
  background-color: red
  border: none;
  color: white;

}

.me-gusta-activo:hover {
  background-color: red
}

.me-gusta span {
  margin-left: 5px;
}
